flows.json
[{"id":"7e90ec79.3dd4e4","type":"tab","label":"Notify Back Gate Open","disabled":false,"info":""},{"id":"a1e33c84.cf20f","type":"tab","label":"Sun - Flow Outdoor Lights","disabled":false,"info":""},{"id":"d9eb0dc8.bdd8","type":"tab","label":"Laundry","disabled":false,"info":""},{"id":"fcf7e70d.920e48","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"ab495183.51c09","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.168.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27d14a5d.9f7226","type":"server-state-changed","z":"7e90ec79.3dd4e4","name":"Back Gate","server":"fcf7e70d.920e48","entityidfilter":"binary_sensor.back_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140.55555725097656,"y":401.1111030578613,"wires":[["54fb4ddd.c0a8c4"]]},{"id":"e932d875.671bd8","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_this_is_a_unix_system","data":"{\"message\": \"Back Gate: Open\"}","mergecontext":"","output_location":"","output_location_type":"none","x":741.5,"y":249,"wires":[[]]},{"id":"1f16c5ee.7754ca","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_caryanns_iphone","data":"{\"message\": \"Back Gate: Open\"}","mergecontext":"","output_location":"","output_location_type":"none","x":720.5,"y":296,"wires":[[]]},{"id":"54fb4ddd.c0a8c4","type":"switch","z":"7e90ec79.3dd4e4","name":"Gate Open/Close Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":391.5,"y":254,"wires":[["e932d875.671bd8","1f16c5ee.7754ca"],["bfce32f1.599be","da2f0ae0.4f2488"]]},{"id":"da2f0ae0.4f2488","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_caryanns_iphone","data":"{\"message\": \"Back Gate: Closed\"}","mergecontext":"","output_location":"","output_location_type":"none","x":720,"y":392,"wires":[[]]},{"id":"bfce32f1.599be","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_this_is_a_unix_system","data":"{\"message\": \"Back Gate: Closed\"}","mergecontext":"","output_location":"","output_location_type":"none","x":740,"y":347,"wires":[[]]},{"id":"71a1a9d2.bfb808","type":"server-state-changed","z":"a1e33c84.cf20f","name":"Sun","server":"fcf7e70d.920e48","entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":132,"y":123,"wires":[["809eb739.7f7058"]]},{"id":"809eb739.7f7058","type":"switch","z":"a1e33c84.cf20f","name":"Sunset / Sunrise","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"below_horizon","vt":"str"},{"t":"eq","v":"above_horizon","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":409,"y":121,"wires":[["106c9adf.009ab5"],["246a6f84.82a84"]]},{"id":"106c9adf.009ab5","type":"api-call-service","z":"a1e33c84.cf20f","name":"Front Outdoor Lights - On","server":"fcf7e70d.920e48","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.front_outdoor_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":692,"y":73,"wires":[[]]},{"id":"246a6f84.82a84","type":"api-call-service","z":"a1e33c84.cf20f","name":"Front Outdoor Lights - Off","server":"fcf7e70d.920e48","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.front_outdoor_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":162,"wires":[[]]},{"id":"f13736d.ed897c8","type":"mqtt in","z":"d9eb0dc8.bdd8","name":"","topic":"sonoff_washer/tele/SENSOR","qos":"2","datatype":"json","broker":"ab495183.51c09","x":147,"y":368,"wires":[["1fb7cb18.aa7a95"]]},{"id":"1fb7cb18.aa7a95","type":"switch","z":"d9eb0dc8.bdd8","name":"","property":"payload.ENERGY.Power","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":284,"y":289,"wires":[["9378f47c.7dcc38","c1636d12.034ab"],["7e9b19d2.909c38"],["4cb4b5f4.a72d7c"]]},{"id":"383e07fe.cd36d8","type":"trigger","z":"d9eb0dc8.bdd8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"120","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":732,"y":110,"wires":[["d6612eaa.014d6"]]},{"id":"d6612eaa.014d6","type":"api-call-service","z":"d9eb0dc8.bdd8","name":"Notify Cary","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_caryanns_iphone","data":"{\"message\": \"Washer is done, now organize my sega genesis games\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":951,"y":80,"wires":[["fa26696e.d4b3d8"]]},{"id":"9378f47c.7dcc38","type":"change","z":"d9eb0dc8.bdd8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":485,"y":73,"wires":[["383e07fe.cd36d8"]]},{"id":"7e9b19d2.909c38","type":"switch","z":"d9eb0dc8.bdd8","name":"Stop If Notified","property":"washnotify","propertyType":"flow","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":494,"y":254,"wires":[["383e07fe.cd36d8"]]},{"id":"c1636d12.034ab","type":"change","z":"d9eb0dc8.bdd8","name":"","rules":[{"t":"set","p":"washnotify","pt":"flow","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":517,"y":126,"wires":[[]]},{"id":"4cb4b5f4.a72d7c","type":"change","z":"d9eb0dc8.bdd8","name":"","rules":[{"t":"set","p":"washnotify","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504,"y":299,"wires":[[]]},{"id":"fa26696e.d4b3d8","type":"change","z":"d9eb0dc8.bdd8","name":"","rules":[{"t":"set","p":"washnotify","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1156,"y":112,"wires":[[]]},{"id":"8c73abbe.97f2d8","type":"inject","z":"d9eb0dc8.bdd8","name":"","topic":"","payload":"washnotify=true","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":"5.0","x":129,"y":57,"wires":[["1fb7cb18.aa7a95"]]}]