flows.json
[{"id":"7e90ec79.3dd4e4","type":"tab","label":"Notify Back Gate Open","disabled":false,"info":""},{"id":"fcf7e70d.920e48","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"27d14a5d.9f7226","type":"server-state-changed","z":"7e90ec79.3dd4e4","name":"Back Gate","server":"fcf7e70d.920e48","entityidfilter":"binary_sensor.back_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140.55555725097656,"y":401.1111030578613,"wires":[["54fb4ddd.c0a8c4"]]},{"id":"e932d875.671bd8","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_this_is_a_unix_system","data":"{\"message\": \"Back Gate: Open\"}","mergecontext":"","output_location":"","output_location_type":"none","x":741.5,"y":249,"wires":[[]]},{"id":"1f16c5ee.7754ca","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_caryanns_iphone","data":"{\"message\": \"Back Gate: Open\"}","mergecontext":"","output_location":"","output_location_type":"none","x":720.5,"y":296,"wires":[[]]},{"id":"54fb4ddd.c0a8c4","type":"switch","z":"7e90ec79.3dd4e4","name":"Gate Open/Close Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":391.5,"y":254,"wires":[["e932d875.671bd8","1f16c5ee.7754ca"],["bfce32f1.599be","da2f0ae0.4f2488"]]},{"id":"da2f0ae0.4f2488","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_caryanns_iphone","data":"{\"message\": \"Back Gate: Closed\"}","mergecontext":"","output_location":"","output_location_type":"none","x":720,"y":392,"wires":[[]]},{"id":"bfce32f1.599be","type":"api-call-service","z":"7e90ec79.3dd4e4","name":"","server":"fcf7e70d.920e48","service_domain":"notify","service":"ios_this_is_a_unix_system","data":"{\"message\": \"Back Gate: Closed\"}","mergecontext":"","output_location":"","output_location_type":"none","x":740,"y":347,"wires":[[]]}]